.single-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0px 20px;
}

.single-card p {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  border-top: 1px solid lightgray;
}

.single-card img{
  width: 200%;
}