.custom-nav {
  padding-bottom: 30px;
}

.custom-nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.custom-nav li {
  color: black;
  list-style: none;
}

.custom-nav a {
  text-decoration: none;
  color: black;
}

.collapse a {
  margin: 0px 20px;
}
