.main-box {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding-bottom: 40px;
}

.form-box {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.form-box h3 {
  margin-left: auto;
  margin-right: auto;
}

.custom-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-form input {
  margin: 25px 0px;
  border-radius: 15px;
  width: 75%;
}

.form-setup form{
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 576px){
  .main-box{
    flex-direction: column;
    align-items: center;
    justify-content: unset;
  }

  .form-label{
    display: none;
  }

  .form-control{
    margin-bottom: 10px;
  }

  .form-box button{
    margin: 20px 0px;
  }
}