.card-galery img {
  height: 300px;
  padding: 10px;
}

.card-galery {
  flex-wrap: wrap;
  display: flex;
  width: 90vw;
  justify-content: space-around;
  padding: 20px 0px;
}

.galery-single-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 576px){
  .card-galery img{
    height: 400px;
  }

  .galery-single-box p{
    font-size: 24px;
  }
}